{include file="mengbao/head" title="首页" keywords="开源WEB开发框架" /}
<body>
{include file="mengbao/footer" title="index" keywords="开源WEB开发框架" /}


<header>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="/static/jpt/goddess/img/banner-1@2x.png"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
        $(".swiper-container").swiper({
            loop: false,
            autoplay: 3000
        });
    </script>

</header>
<div class="weui-flex mengbao-count">
    <div class="weui-flex__item">
        <label class="">已报名</label>
        <p>1</p>
    </div>
    <div class="weui-flex__item">
        <label class="">投票人次</label>
        <p>1</p>
    </div>
    <div class="weui-flex__item">
        <label class="">访问量</label>
        <p>1</p>
    </div>
</div>

<div class="mengbao-Search jpt-Search_bar weui-flex">
    <div class="Count-down">
        <label>距活动结束还有：</label>
        <ul class="Count-down_body">
            <li> <span id="day" class="days">00</span>天</li>
            <li> <span id="hour" class="hours">00</span>时 </li>
            <li> <span id="mini"  class="minutes">00</span>分 </li>
            <li> <span id="sec"  class="seconds">00</span>秒 </li>
            <!--            <li> <span id="hm"  class="seconds">00 </span>毫秒</li>-->
        </ul>
        <script>
            //    倒计时
            var zxx = {
                obj: function(){
                    return {
                        hm: $("#hm"),
                        sec: $("#sec"),
                        mini: $("#mini"),
                        hour: $("#hour"),
                        day: $("#day"),
                        month: $("#month"),
                        year: $("#year")
                    }
                }
            };
            fnTimeCountDown(1527982400000, zxx.obj());
            //        倒计时 end
        </script>
    </div>


    <form class=" jpt-Search weui-flex__item">
        &nbsp<input placeholder="搜索店铺或者姓名" type="search" class="jpt-Search_input">

        <div class="jpt-icon_search" >
            <input type="submit" class="jpt-Search_sub">
            <!--<img src="/static/jpt/landlady/img/find1@2x.png">-->
        </div>
    </form>
</div>



<div class=" mengbao-column">
    <!--<div  class=" mengbao-column_item">-->
        <!--<div class="column-item_bd">-->
            <!--<a href="/static/jpt/mengbao/img/pic-1@2x.png">-->
                <!--<img src="/static/jpt/mengbao/img/pic-1@2x.png">-->
                <!--<p class="mengbao-grid_desc mengbao-grid_num"><span>1号</span></p>-->
                <!--&lt;!&ndash;<p class="mengbao-grid_desc mengbao-grid_name">姓名：<span>刘亦菲</span></p>&ndash;&gt;-->
                <!--<p class="mengbao-grid_desc mengbao-grid_vote">票数：<span>1票</span></p>-->
            <!--</a>-->
            <!--<button class="weui-btn bth-1"> 投票</button>-->
        <!--</div>-->

    <!--</div>-->

    {volist name="list" id="vo"}

    <div  class=" mengbao-column_item">
        <div class="column-item_bd">
            <a href="{:url('mengbao/show', ['id' => $vo['id']])}">
                <img src="{$vo.cover}">
                <p class="mengbao-grid_desc mengbao-grid_num"><span>{$vo.id}号</span></p>
                <!--<p class="mengbao-grid_desc mengbao-grid_name">姓名：<span>刘亦菲</span></p>-->
                <p class="mengbao-grid_desc mengbao-grid_vote">票数：<span>{$vo.votes}票</span></p>
            </a>
            <button class="weui-btn bth-1"> 投票</button>
        </div>

    </div>


    {/volist}



</div>
<div style="text-align:center;">
    {$list->render()}

</div>

<style>
    .pagination{
        display: inline-flex;
        text-align: center;
    }

    .pagination li {
        min-width: 30px;
        background-color: #b18572;
        color: #ffffff;
        margin: 0 5px;
        border-radius: 8px;
    }

    .pagination .active {
        background-color:#a36f59;
    }

    .pagination li a {
        padding: 2px 5px;
        font-size: 16px;
        color: #ffffff;
    }

</style>













<div class="weui-tabbar_space"></div>
</body>
</html>