{include file="mengbao/head" title="首页" keywords="开源WEB开发框架" /}
<body>
{include file="mengbao/footer" title="index" keywords="开源WEB开发框架" /}
<header>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="/static/jpt/goddess/img/banner-1@2x.png"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
        $(".swiper-container").swiper({
            loop: false,
            autoplay: 3000
        });
    </script>

</header>
<div class="mengbao-panel_rank weui-panel weui-panel_access">
    <div class="weui-panel__bd">




        {volist name="list" id="vo"  key="k"}





        <a href="{:url('mengbao/show', ['id' => $vo['id']])}" class="mengbao-rank_item weui-media-box weui-media-box_appmsg">
            <div class="rank-item_ranknum">{$k}</div>
            <div class="rank-item_hd weui-media-box__hd">
                <img class="weui-media-box__thumb" src="{$vo.cover}">
            </div>
            <div class="rank-item_bd weui-media-box__bd">
                <p class=" weui-media-box__desc">
                    编号:<span>{$vo.id}</span>

                </p>
                <p class=" weui-media-box__desc">
                    姓名:<span>{$vo.name}</span>

                </p>
                <p class=" weui-media-box__desc">

                    票数:<span>{$vo.votes}</span>
                </p>

            </div>
        </a>
        {/volist}
    </div>
</div>








<div class="weui-tabbar_space"></div>

</body>
</html>