<div class="weui-tabbar">
    <a href="index.php" class="weui-tabbar__item  weui-bar__item--on">
        <p class="weui-tabbar__label c-ff">母校排名</p>
    </a>
    <a href="detail.php" class="weui-tabbar__item" >
        <p class="weui-tabbar__label c-ff">我的母校</p>
    </a>
    <a href="chat.php" class="weui-tabbar__item ">
        <p class="weui-tabbar__label c-ff">XX聊天室</p>
    </a>
    <a href="index4.html" class="weui-tabbar__item">
        <p class="weui-tabbar__label c-ff">我的资料</p>
    </a>
</div>