

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>人气校园</title>
    <link rel="stylesheet" type="text/css" href="../lib/weui/weui.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../css/res.css?v=1">
    <link rel="stylesheet" type="text/css" href="../css/main.css?v=1">
    <script type="text/javascript" src="../lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
    <script type="text/javascript" src="../js/jquery-weui.js"></script>
    <script type="text/javascript" src="../js/timeCountDown.js"></script>

    <script type='text/javascript' src='../js/swiper.js' charset='utf-8'></script>

</head>