
{include file="shangmb/head" /}
</body>
{include file="shangmb/footer" /}
<header class="jpt-reg_header header-title">
    <div class="jpt-title">报名</div>
</header>
<style>
    .Landlady-reg_desc{
        padding:10px 15px;
        color: #fa6a8e;
    }
</style>






<form id="reg" name="reg" class="jpt-reg weui-cells weui-cells_form bor-all-clear">
    <div class="jpt-reg_groud weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
        <div class="weui-cell__bd reg-input">
            <input class="weui-input" name="username" type="text" placeholder="">
        </div>
    </div>
    <div class="jpt-reg_groud-title weui-cells__title">商家介绍：</div>
    <div class="jpt-reg_groud weui-cell">
        <div class="weui-cell__bd reg-textarea">
            <textarea class="weui-textarea" placeholder="" rows="4"></textarea>
        </div>
    </div>
    <!--<div class="jpt-reg_groud weui-cell reg-upload_pic">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">照片:</label></div>-->
        <!--<div class="weui-cell__bd ">-->
            <!--<div class="weui-uploader__input-box reg-pic_box">-->
                <!--<input id="uploaderInput" name="files" class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->



    <div class="weui-cell jpt-reg_groud">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">照片：（最多只能上传3张）</p>
                    <!--<div class="weui-uploader__info">0/3</div>-->
                </div>
                <div class="weui-uploader__bd reg-pics ">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                        <!--                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->

                    </ul>
                    <div class="weui-uploader__input-box reg-pic_box">
                        <input name="pics" id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--<div class="Landlady-reg_groud weui-cell">-->
    <!--<div class="weui-cell__hd"><label class="weui-label">店名:</label></div>-->
    <!--<div class="weui-cell__bd reg-input">-->
    <!--<input class="weui-input" name="cname" type="text" placeholder="">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="Landlady-reg_groud weui-cell">-->
    <!--<div class="weui-cell__hd"><label class="weui-label">地址:</label></div>-->
    <!--<div class="weui-cell__bd reg-input">-->
    <!--<input class="weui-input" name="location" type="text" placeholder="">-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="Landlady-reg_groud weui-cell reg-upload_pic">-->
    <!--<div class="weui-cell__hd"><label class="weui-label">商品图片:</label></div>-->
    <!--<div class="weui-cell__bd ">-->
    <!--<div class="weui-uploader__input-box reg-pic_box">-->
    <!--<input id="upInput" name="shops" class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->



    <button  class="weui-btn bth-sub">提交</button>

</form>


<div class="weui-tabbar_space"></div>

</body>


</html>