{include file="public/meta" /}
    <title>开始使用Layui</title>
</head>
<body>

{include file="public/topnav" /}
<!-- 左边导航 开始 -->
{include file="public/leftnav" /}
<!-- 左边导航 结束 -->
<div class="main index-main ">
    <ul class="index-skill">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>业精于勤</legend>
                <p>“业精于勤荒于嬉”，精深的业技靠的是勤学、刻苦努力，靠的是争分夺秒的勤学苦练才会有精深的技术。得在认真，失在随便。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>学无止境</legend>
                <p>学习，探索，研究，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识。由浅入深，由表及里。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>工匠精神</legend>
                <p>精益求精，注重细节，追求完美和极致，不惜花费时间精力，孜孜不倦，反复改进产品，把99%提高到99.99%。</p>
            </fieldset>
        </li>
    </ul>
</div>
<div class="main index-main">
    <div class="page_left">
        <ul class="page_left_list">
            <li class="no_pic">
                <h2 class="title"><a href="#">LzCMS（老张博客系统）安装出现重定向次数过多，过多重定向解决办法</a></h2>
                <div class="date_hits">
                    <span>7小时前</span>
                    <span><a href="#">LzCMS</a></span>
                    <span class="hits"><i class="layui-icon" title="点击量"></i> 42 ℃</span>
                    <p class="commonts"><i class="layui-icon" title="点击量"></i> <span id="sourceId::1554" class="cy_cmt_count">0</span></p>
                </div>
                <div class="desc">出现过多重定向的修改根目录.htaccess &nbsp;去掉index.php后面的问号</div>
            </li>
            <li class="">
                <a href="" class="pic"><img class="lazy" data-original="http://wx-12.oss-cn-shanghai.aliyuncs.com/jpt/1ca40e0c66cd724ef66eb6ea54c76d77.png" src="http://wx-12.oss-cn-shanghai.aliyuncs.com/jpt/1ca40e0c66cd724ef66eb6ea54c76d77.png" alt="一波程序员表情包" style="display: inline-block;"></a>
                <h2 class="title"><a href="/article/23.html">一波程序员表情包</a></h2>
                <div class="date_hits">
                    <span>2个月前</span>
                    <span><a href="/article-lists/8.html">杂谈</a></span>
                    <span class="hits"><i class="layui-icon" title="点击量">&#xe62c;</i> 568 ℃</span>
                    <p class="commonts"><i class="layui-icon" title="点击量"></i> <span id="sourceId::823" class="cy_cmt_count">2</span></p>
                </div>
                <div class="desc"></div>
            </li>
        </ul>
    </div>
    <div class="page_right">
        <div class="about_stationmaster_container">
            <h3>博主信息</h3>
            <ol class="page_right_list trans_3">
                <li>姓名：杨健民</li>
                <li>职业：PHP程序猿、WEB前端</li>
                <li>座右铭：业精于勤、学无止境、工匠精神</li>
                <li>QQ：1412428870 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1412428870&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1412428870:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            </ol>
        </div>
        <div class="new_list">
            <h3>最新文章</h3>
            <ol class="page_right_list trans_3">
                <li><a href="#">windows7窗口总是失去焦点解决办法</a><span class="hits"> 3 ℃ </span></li>
                <li><a href="#">LzCMS（老张博客系统）安装出现重定向次数过多，过多重定向解决办法</a><span class="hits"> 88 ℃ </span></li>
                <li><a href="#">CSS控制文字，超出部分显示省略号，多行文本超出显示省略号</a><span class="hits"> 19 ℃ </span></li>
                <li><a href="#">抓紧百度算法核心去优化网站</a><span class="hits"> 58 ℃ </span></li>
                <li><a href="#">LzCMS（老张博客系统）v1.1.3 更新</a><span class="hits"> 257 ℃ </span></li>
                <li><a href="#">LzCMS（老张博客系统）v1.1.2 不出现404页面问题，解决办法</a><span class="hits"> 204 ℃ </span></li>
                <li><a href="#">曾经用过的十大富文本编辑器</a><span class="hits"> 52 ℃ </span></li>
                <li><a href="#">微信小程序服务类目及资质要求</a><span class="hits"> 87 ℃ </span></li>
                <li><a href="#">ThinkPHP通过URL重写隐藏应用的入口文件index.php</a><span class="hits"> 160 ℃ </span></li>
                <li><a href="#">LzCMS（老张博客系统）v1.1.2 更新</a><span class="hits"> 446 ℃ </span></li>
            </ol>
        </div>
        <!--<div class="hot_list">-->
            <!--<h3>最近热文</h3>-->
            <!--<ol class="page_right_list trans_3">-->
                <!--<li><a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a><span class="hits"> 1560 ℃ </span></li>-->

            <!--</ol>-->
        <!--</div>-->

        <h3>友情链接</h3>
        <div class="links trans_3">
            <a href="http://daohang.lusongsong.com" target="_blank">博客大全</a>
            <a href="http://www.jb51.net/" target="_blank">脚本之家下载</a>
            <a href="http://www.ebcms.com" target="_blank">易贝CMS</a>
        </div>
    </div>
</div>

{include file="public/totop" /}
{include file="public/footer" /}




<script>



    layui.use(['form','element'], function(){
        var layer = layui.layer,
            form = layui.form(),
            element = layui.element(),
            $ = layui.jquery;

//        //判断是否是本站域名
//        host = window.location.host;
//        if(!(host == 'phplaozhang.com' || host == 'www.phplaozhang.com')){
//            layer.msg('此域名不是本站域名，请谨慎访问！！！', {icon: 7,shade: 0.8,time: 99999999});
//        }

        //左边导航点击显示
        $('.left_nav_btn').click(function(){
            $('.left_nav_mask').show();
            $('.left_nav').addClass('left_nav_show');
        });
        //左边导航点击消失
        $('.left_nav_mask').click(function(){
            $('.left_nav').removeClass('left_nav_show');
            $('.left_nav_mask').hide();
        });

        //搜索框特效
        $('.header .head_search .search_input').focus(function(){
            $('.header .head_search').addClass('focus');
            $(this).attr('placeholder','输入关键词搜索');
        });
        /*$(document).click(function(){
            $('.header .head_search').removeClass('focus');
            $('.header .head_search .search_input').attr('placeholder','搜索');
        });
        $('.header .head_search').click(function(e){
            $(this).addClass('focus');
            e.stopPropagation();
        });*/
        $('.header .head_search .close').click(function(){
            $('.header .head_search').removeClass('focus');
            $('.header .head_search .search_input').attr('placeholder','搜索');
        });


        //回到顶部
        $("#to_top").click(function() {
            $("html,body").animate({scrollTop:0}, 200);
        });
        $(document).scroll(function(){
            var	scroll_top = $(document).scrollTop();
            if(scroll_top > 500){
                $("#to_top").show();
            }else{
                $("#to_top").hide();
            }
        });
        //底部版权始终在底部
        /*var win_height = $(window).height();
        var body_height = $('body').height();
        var footer_height = $('.footer').height();
        if(body_height - win_height < 0){
            $('.footer').addClass('footer_fixed');
        } */
    });


</script>

</body>
</html>
