<div class="weui-tabbar">
    <a href="{:url('shangmb/index')}" class="weui-tabbar__item  weui-bar__item--on">
        <p class="weui-tabbar__label c-ff">排行</p>
    </a>
    <a href="{:url('shangmb/reg')}" class="weui-tabbar__item" >
        <p class="weui-tabbar__label c-ff">报名</p>
    </a>
    <a href="{:url('shangmb/prize')}" class="weui-tabbar__item ">
        <p class="weui-tabbar__label c-ff">活动奖品</p>
    </a>
    <a href="{:url('shangmb/explain')}" class="weui-tabbar__item ">
        <p class="weui-tabbar__label c-ff">活动说明</p>
    </a>
</div>