<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Title</title>
    {css href="/static/frame/jqweui/lib/weui/weui.css" /}
    {css href="/static/frame/jqweui/css/jquery-weui.css" /}
    {css href="/static/jpt/goddess/css/res.css" /}
    {css href="/static/jpt/goddess/css/goddess.css" /}
    {js href="/static/frame/jqweui/lib/jquery-2.1.4.js" /}
    {js href="/static/frame/jqweui/js/jquery.liMarquee.js" /}
    {js href="/static/frame/jqweui/js/jquery-weui.js" /}
    {js href="/static/frame/jqweui/js/timeCountDown.js" /}
    {js href="/static/frame/jqweui/js/swiper.js" /}
    {js href="/static/frame/jqweui/lib/fastclick.js" /}
    {css href="/static/jpt/goddess/js/goddess.js" /}
    {css href="/static/jpt/goddess/js/payfor.js" /}
    <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
</head>