{include file="goddess/head" title="首页" keywords="开源WEB开发框架" /}
<body>
{include file="goddess/footer" title="index" keywords="开源WEB开发框架" /}
<header class="goddess-reg_header">
    <div class="goddess-title">报名</div>
</header>


<form id="reg" name="reg" class="goddess-reg weui-cells weui-cells_form bor-all-clear">
    <div class="goddess-reg_groud weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
        <div class="weui-cell__bd reg-input">
            <input class="weui-input" name="username" type="text" placeholder="">
        </div>
    </div>

    <div class="goddess-reg_groud weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">电话:</label></div>
        <div class="weui-cell__bd reg-input">
            <input class="weui-input" name="username" type="text" placeholder="">
        </div>
    </div>
    <div class="goddess-reg_groud weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">参赛宣言:</label></div>
        <div class="weui-cell__bd reg-input">
            <input class="weui-input" name="username" type="text" placeholder="">
        </div>
    </div>
    <div class="goddess-reg_groud weui-cell reg-upload_pic">
        <div class="weui-cell__hd"><label class="weui-label">照片:</label></div>
        <div class="weui-cell__bd ">
            <div class="weui-uploader__input-box reg-pic_box">
                <input id="uploaderInput" name="files" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>

        </div>
    </div>

    <button href="javascript:;" class="weui-btn bth-sub">&nbsp;<!--提交--></button>

</form>




</body>
</html>