{include file="goddess/head" title="首页" keywords="开源WEB开发框架" /}
<body>
{include file="goddess/footer" title="index" keywords="开源WEB开发框架" /}
<div class="notice goddess-notice weui-cell goddess-notice_show">
    <div class="notice-hd weui-cell__hd">
        <label class=" weui-label">&nbsp; </label>
    </div>
    <div class="dowebok notice-bd  weui-cell__bd">
        <p >16级12班王雪报道</p>
    </div>
</div>


    <div class="goddess-show_cover">
        <img class="portrait" src="/static/jpt/goddess/img/pic-small@2x.png">
        <div class="weui-flex goddess-show_cover-flex1">
            <div class="weui-flex__item ta-r"><span>1</span> 号</div>
            <div class="weui-flex__item ta-l"><span>张三</span></div>
        </div>
        <div class="weui-flex goddess-show_cover-flex2">
            <div class="weui-flex__item ta-r">
                <p class="rank-item_bd-vote weui-media-box__desc">票数：<span>12</span> </p>

            </div>
            <div class="weui-flex__item ta-l">
                <p class="rank-item_bd-rose weui-media-box__desc">玫瑰：<span>12朵</span> </p>
            </div>
        </div>
    </div>

<div class="goddess-enounce">
    <div class="goddess-title">参赛宣言</div>

    <div class="goddess-enounce_bd">
        <p>
            参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言参赛宣言
        </p>
    </div>
</div>
<div class="goddess-behavior">
    <div class=" weui-flex">
        <div class="weui-flex__item">
            <a href="javascript:;" class="weui-btn bth-vote ">&nbsp; <!--给她投票--></a>
        </div>
        <div class="weui-flex__item">
            <a href="javascript:;" class="weui-btn bth-flower ">&nbsp;<!--给她送花--></a>
        </div>
    </div>
    <a href="javascript:;" class="weui-btn bth-poster ">&nbsp;<!--生成拉票海报--></a>

</div>


<div class="goddess-rank_flower">
    <div class="goddess-title">送花榜</div>

    <div class="goddess-rank_flower-bd weui-cells">
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">1</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">2</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">3</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">4</div>
        </div>

        <a href="javascript:void(0);" class="weui-cell weui-cell_link">
            <div class="weui-cell__bd ta-c">加载更多...</div>
        </a>
    </div>
</div>


<div class="goddess-rank_flower goddess-rank_flower-2">
    <div class="goddess-title">最近送花</div>

    <div class="goddess-rank_flower-bd weui-cells">
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">1</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">2</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">3</div>
        </div>
        <div class="weui-cell rank-flower_cell">
            <div class="weui-cell__hd ">
                <img src="/static/jpt/goddess/img/pic-small@2x.png">
            </div>
            <div class="weui-cell__bd weui-flex">
                <p class="weui-flex__item">红色的诸</p>
                <p class="weui-flex__item rank-item_bd-rose"><span>12朵</span></p>
            </div>
            <div class="weui-cell__ft rank-flower_num">4</div>
        </div>

        <a href="javascript:void(0);" class="weui-cell weui-cell_link">
            <div class="weui-cell__bd ta-c">加载更多...</div>
        </a>
    </div>
</div>
<div class="goddess-show_album">
    <div class="goddess-title">个人照片</div>

    <div class="goddess-show_album-bd">
       <div class="goddess-album_item">
           <img src="/static/jpt/goddess/img/pic-small-1@2x.png">
       </div>

        <div class="goddess-album_item">
            <img src="/static/jpt/goddess/img/pic-small@2x.png">
        </div>

    </div>
</div>
<div class="weui-tabbar_space"></div>
</body>
</html>