
<div class="layui-footer footer">
    <div class="main index_main">
        <p>易腾博客 © <a class="site_url" href="http://www.ytclub.top">ytclub.top</a></p>
        <p>
            <!--<a href="/Sitemap.xml">网站地图</a>-->
        </p>
        <p class="beian">
            <!--<a class="gongan" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41019702002232"><img src="/template/laozhang/static/images/gonganbeian.png" alt="阿里云备案">阿里云备案</a>-->
            <a class="icp" target="_blank" href="http://www.miitbeian.gov.cn">鲁ICP备17001647号</a>
        </p>
    </div>
</div>
