
{include file="landlady/head" /}
</body>
{include file="landlady/footer" /}
<header class="header-title">
    <div class="Landlady-title">报名</div>
</header>
<style>
    .Landlady-reg_desc{
        padding:10px 15px;
        color: #fa6a8e;
    }
</style>

<div class="Landlady-reg_desc">
    <label>      报名须知:</label>
    <p>

        1.上传照片时，第一张照片为老板娘个人照片（作为封面图），其它图片为商品或店铺图片（会放入商家介绍中）<br>
        2.每次活动仅限十人，报名后不会立即参赛，会由小编加您微信，通知您参赛时间。<br>


    </p>
</div>








<form id="reg" name="reg" class="Landlady-reg weui-cells weui-cells_form bor-all-clear">
    <div class="landlady-reg_groud weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
        <div class="weui-cell__bd reg-input">
            <input class="weui-input" name="username" type="text" placeholder="">
        </div>
    </div>

    <div class="landlady-reg_groud weui-cell reg-upload_pic">
        <div class="weui-cell__hd"><label class="weui-label">照片:</label></div>
        <div class="weui-cell__bd ">
            <div class="weui-uploader__input-box reg-pic_box">
                <input id="uploaderInput" name="files" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>

        </div>
    </div>
    <!--<div class="Landlady-reg_groud weui-cell">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">店名:</label></div>-->
        <!--<div class="weui-cell__bd reg-input">-->
            <!--<input class="weui-input" name="cname" type="text" placeholder="">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="Landlady-reg_groud weui-cell">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">地址:</label></div>-->
        <!--<div class="weui-cell__bd reg-input">-->
            <!--<input class="weui-input" name="location" type="text" placeholder="">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="Landlady-reg_groud-title weui-cells__title">商家介绍：</div>-->
    <!--<div class="Landlady-reg_groud weui-cell">-->
        <!--<div class="weui-cell__bd reg-textarea">-->
            <!--<textarea class="weui-textarea" placeholder="" rows="4"></textarea>-->
            <!---->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="Landlady-reg_groud weui-cell reg-upload_pic">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">商品图片:</label></div>-->
        <!--<div class="weui-cell__bd ">-->
            <!--<div class="weui-uploader__input-box reg-pic_box">-->
                <!--<input id="upInput" name="shops" class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->



    <button  class="weui-btn bth-sub">提交</button>

</form>


<div class="weui-tabbar_space"></div>

</body>


</html>