
{include file="landlady/head" /}
</body>
{include file="landlady/footer" /}




<div class="Landlady-show_header">
<div class="show-header_box">
    <div class="show-header_hd">
        编号：1号
    </div>
    <div class="show-header_bd">
        <img src="/static/jpt/landlady/img/touxiang@2x.png">
        <div class="weui-cell show-header_cell ">
            <div class="weui-cell__hd">
                <img src="/static/jpt/landlady/img/dizhi@2x.png">
            </div>
            <div class="weui-cell__bd header-location">
                地址：<span> 山东省济南市历下区</span>
            </div>
        </div>
        <div class="weui-cell show-header_cell">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd ">
                店名：<span> Top feeling</span>
            </div>
        </div>
        <div class="weui-cell show-header_cell ">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd ">
                老板娘：<span> 林依晨</span>
            </div>
        </div>
        <a  class="weui-btn bth-sub">给她投票</a>
        <a  class="weui-btn bth-sub">生成拉票海报</a>
    </div>
</div>
</div>

<div class="Landlady-pieview Landlady-pieview_synopsis">
    <div class="Landlady-title">商家介绍</div>

    <div class="Landlady-pieview_bd">
        <p>商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍</p>
        <p>商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍商家介绍</p>

    </div>

</div>


<div class="Landlady-pieview Landlady-pieview_pics">
    <div class="Landlady-title">商品图片</div>

    <div class="Landlady-pieview_bd Landlady-column">


        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-1@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>

        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-2@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>
        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-3@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>
        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-4@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>

        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-4@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>
        <div class="Landlady-column_item">
            <div class="column-item_bd">
                <img src="/static/jpt/landlady/img/pic-goods-3@2x.png">
                <h3 class="">时髦人士都在穿</h3>
                <p class="">牛仔加T恤</p>
            </div>
        </div>
    </div>

</div>

<div class="Landlady-msgs">
    <div class="Landlady-msgs_title header-title">
        <div class="Landlady-title">留言</div>
    </div>


    <button  class="weui-btn bth-sub" style="margin-top:20px;">写留言</button>
<div class="Landlady-msgs_bd">

    <div class="Landlady-msg_item jpt-msg_item">
        <div class="msg_item-box ">
            <div class="msg-item_hd weui-cell">
                <div class="weui-cell__hd">
                    <img src="/static/jpt/shang/img/touxiang-fen@2x.png">
                </div>
                <div class="msg-item_hd-name">

                    一楼
                </div>
                <div class="weui-cell__bd">
                    2017.07.08 16:89
                </div>
            </div>
            <div class="msg-item_bd">
                商品适量非常号，商品适量非常号商品适量非常
            </div>
        </div>

    </div>

    <div class="Landlady-msg_item">
        <div class="msg-item_hd weui-cell">
            <div class="weui-cell__hd">
                <img src="/static/jpt/landlady/img/pic-child-1@2x.png">
            </div>
            <div class="weui-cell__bd">
                皮卡的小秋裤
            </div>
        </div>
        <div class="msg-item_bd">
            商品适量非常号，商品适量非常号商品适量非常号商品适量非常号商品适量非常号商品适量非常号商品适量非常号商品适量非常号
        </div>
    </div>

</div>

<div class="Landlady-msgs_ft">

    <div class="Landlady-rank_item-praise">
        <div class="praise-hd">
            <img src="/static/jpt/landlady/img/shou@2x.png">
        </div>
        <div class="praise-bd">
            <span>2168</span>条好评
        </div>
    </div>
</div>






</div>





<div class="weui-tabbar_space"></div>

</body>


</html>